body {
    font-family: 'exo 2';
    text-align: center;
}

header {
    padding: 2rem;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

main {
    display: flex;
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    flex-wrap: wrap;
    text-transform: uppercase;
    justify-content: space-around;
}

section {
    border: 3px solid black;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

section:hover {
    background: lightgray;
}

button {
    width: 15rem;
    margin: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: bolder;
    text-transform: uppercase;
    border: 3px solid black;
    cursor: pointer;
    background: white;
}

button:hover {
    background: lightgray;
}

footer {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}